<%- include('partials/header') -%>

<div id="first-header" class="background-pink bg-img mt-5">
  <div class="container pt-5">
    <div class="row pt-4 pb-4">
      <div class="heading-font purple-font col-sm-12 col-lg-6 col-md-6">
        <h1 class="big-heading pb-3 pt-0">ENHANCE</h1>
        <h3 class="pb-3">YOUR NATURAL BEAUTY</h3>
        <h5 class="pb-3">on your special day</h5>
      </div>
      <div class="col-sm-12 col-lg-6">
        <img class="img-fluid" src="/images/wedding2.jpg" alt="bride" />
      </div>
      <img
        class="img-fluid col-sm-12 col-md-12 col-lg-6 p-3"
        src="/images/wedding1.jpg"
        alt="bride2"
      />
    </div>
  </div>
</div>
<div id="about-me" class="bg-img-brushes bg-offwhite">
  <div class="container">
    <div class="row">
      <div class="row-sm-12 col-lg-6 row-md-6 padding-second-part">
        <h5 class="purple-font padding-top">Hello</h5>
        <p class="pt-3">
          I'm Cristina, a fully qualified freelance makeup artist based in
          Hampshire. I specialize in Bridal and special occasion makeup with
          over 9 years of experience. Offering a relaxed, friendly and
          professional service to my beautiful brides, bridesmaids and mothers.
        </p>

        <p>
          I love creating beautiful, enhancing natural makeup on clients who
          perhaps are not used to wearing makeup.
        </p>

        <p>
          I am making a difference to how that person feels and it gives my
          clients a massive confidence boost.
        </p>

        <p class="padding-bottom-p">
          Above all I pride myself in offering the best quality top branded
          products, therefore my kit varies from Bobbi Brown, Chanel, Charlotte
          Tilbury, MAC and many more professional makeup brands.
        </p>
      </div>
    </div>
  </div>
</div>
<div id="gallery" class="green-bg">
  <div class="container">
    <h3 class="dark-font text-centre">Gallery</h3>
    <div class="row mt-0">
      <div class="col-sm-12 col-lg-4 col-md-12 card-padding">
        <img class="img-fluid" src="/images/bride.jpg" alt="Card image cap" />
        <a class="dark-font" href="#"
          ><h2 class="card-title mt-4 dark-font heading-cards">Wedding</h2></a
        >
        <p class="">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>

      <div class="col-sm-12 col-lg-4 col-md-12 card-padding">
        <img
          class="img-fluid"
          src="/images/special-occasion.jpg"
          alt="Card image cap"
        />
        <a class="dark-font" href="#"
          ><h2 class="card-title mt-4 dark-font heading-cards">
            Special Occasion
          </h2></a
        >
        <p class="">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>

      <div class="col-sm-12 col-lg-4 col-md-12 card-padding">
        <img
          class="img-fluid"
          src="/images/creative.jpg"
          alt="Card image cap"
        />
        <a class="dark-font" href="#">
          <h2 class="card-title mt-4 dark-font heading-cards">Photoshoot</h2>
        </a>
        <p>
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
    </div>
  </div>
</div>

<div id="our-services" class="container background-picture-services">
  <h3 class="purple-font pt-5 text-centre">Our Services</h3>
  <div class="row">
    <div class="col-sm-12 col-lg-6 pt-5 d-flex justify-content-center">
      <img class="img-fluido" src="/images/bride-groom.jpg" alt="bride" />
    </div>
    <div class="col-sm-12 col-lg-6 pt-5 center-al">
      <h6 class="m-3 heading-cards">Weddings</h6>
      <h6 class="m-3 pt-5 heading-cards">Prom & Party</h6>
      <h6 class="m-3 pt-5 heading-cards">Spcecial Occasion</h6>
      <h6 class="m-3 pt-5 heading-cards">Eyebrow threading</h6>
      <h6 class="m-3 pt-5 heading-cards">Makeup Lessons</h6>
      <h6 class="m-3 pt-5 heading-cards">Photoshoots</h6>
      <a href="#" class="myButton m-5">Services</a>
    </div>
  </div>
</div>

<div id="testimonials" class="background-pink">
  <div class="container">
    <h3 class="purple-font text-centre">Testimonials</h3>
    <h5 class="dark-font">What they say...</h5>
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-4 card-padding">
        <div class="light-bg text-centre pb-3">
          <div class="dark-pink-bg">
            <img class="round-image" src="/images/testimonial1.jpg" alt="" />
          </div>
          <h6 class="pt-5 mt-4">Irene Roberts</h6>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book.
          </p>
        </div>
      </div>

      <div class="col-sm-12 col-md-12 col-lg-4 card-padding">
        <div class="light-bg text-centre pb-3">
          <div class="dark-pink-bg">
            <img class="round-image" src="/images/testimonial2-.jpg" alt="" />
          </div>
          <h6 class="pt-5 mt-4">Irene Roberts</h6>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book.
          </p>
        </div>
      </div>

      <div class="col-sm-12 col-md-12 col-lg-4 card-padding">
        <div class="light-bg text-centre pb-3">
          <div class="dark-pink-bg">
            <img class="round-image" src="/images/testimonials3.jpg" alt="" />
          </div>
          <h6 class="pt-5 mt-4">Veronika</h6>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="quote" class="container ">
  <div class="row">
    <div class="col-sm-12 col-lg-6 col-md-6">
      <div class="row center-al">
        <img class="quote-img" src="/images/quote-mark1.svg" alt="" />

        <h2 class="dark-font text-centre mx-4">
          "Makeup should never be used to hide yourself. It should be used to
          enhance your natural beauty."
        </h2>

        <img class="quote-img" src="/images/quote-mark2.svg" alt="" />
      </div>
    </div>
    <div class="col-sm-12 col-lg-6 col-md-6 d-flex justify-content-center">
      <img class="img-fluid my-2" src="/images/bride-dress.jpg" alt="bride" />
    </div>
  </div>
</div>

<div id="call-to-action" class="green-bg">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-centre">
        <h3 class="dark-font mt-5">Getting in touch</h3>
      </div>
      <p class="mt-4">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book.
      </p>
      <div class="col-sm-12 text-centre">
        <a href="#" class="myButton mt-4 mb-5">Start</a>
      </div>
    </div>
  </div>
</div>
<footer class="text-center py-1">
  <p><b> Copyright 2021 ArtByMilky</b></p>
</footer>
<%- include('partials/footer') -%>
